@charset "UTF-8";
/*!
Author: Agencia Rompecabeza Digital
Author URL: https://www.rompecabeza.cl/
Description: Proyecto EGT.
*/
/*------------------------------------------------------------
# BASE
------------------------------------------------------------*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img,
iframe {
  max-width: 100%;
}

/* Scroll */
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
main ::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #404040;
  border-radius: 0;
}

::-webkit-scrollbar-thumb:active,
::-webkit-scrollbar-thumb:hover {
  background-color: #737373;
}

::-webkit-scrollbar-track {
  background: #d9d9d9;
}
main ::-webkit-scrollbar-track {
  background: #d9d9d9;
  border-radius: 10px;
  margin-left: 1rem;
}

/* Selection */
::-moz-selection {
  background-color: rgba(255, 198, 41, 0.5);
  color: #A561B7;
}
::selection {
  background-color: rgba(255, 198, 41, 0.5);
  color: #A561B7;
}

.main-content {
  min-height: 50vh;
  padding: 2rem 0;
}

.pagination-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding: 0;
  margin-top: 2rem;
  margin-bottom: 0;
}
.pagination-container ul li {
  padding: 0.25rem;
}
.pagination-container ul li a {
  border-radius: 50%;
  height: 24px;
  width: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pagination-container ul li a:hover {
  text-decoration: none;
}
.pagination-container ul li.page a {
  background-color: #d9d9d9;
  color: #fff;
}
.pagination-container ul li.page a:hover {
  background-color: #A561B7;
  color: #fff;
}
.pagination-container ul li.page.current a {
  background-color: #A561B7;
  color: #fff;
}
.pagination-container ul li.first-page a, .pagination-container ul li.prev-page a, .pagination-container ul li.next-page a, .pagination-container ul li.last-page a {
  background-color: #fff;
  color: #FFC629;
  border: 1px solid #A561B7;
}

.input-counter {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.input-counter input[type=number] {
  border: none;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  text-align: center;
  width: 3rem;
  margin: 0 0.5rem !important;
}
.input-counter button {
  border-radius: 50% !important;
  line-height: 1.5rem;
  height: 1.5rem;
  width: 1.5rem;
  padding: 0;
}

/*------------------------------------------------------------
# LAYOUTS
------------------------------------------------------------*/
/* Navigation Menu */
.main-menu {
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1019607843);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1019607843);
  background-color: #fff;
  position: relative;
}
.main-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-menu ul li:hover, .main-menu ul li:focus {
  font-weight: 700;
}
.main-menu ul li:hover ul.main-menu-submenu, .main-menu ul li:focus ul.main-menu-submenu {
  display: block;
}
.main-menu ul.main-menu-submenu {
  background-color: #A561B7;
  color: #fff;
  position: relative;
  display: none;
  padding: 0;
  text-align: center;
}
.main-menu ul.main-menu-submenu a {
  color: #fff;
  font-weight: 400;
  line-height: 2;
  padding: 0;
}
.main-menu a {
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}
.main-menu a:hover {
  text-decoration: none;
}
.main-menu__links {
  width: 100%;
}
.main-menu__profile svg {
  color: #A561B7;
}
.main-menu__profile ul {
  display: none;
}
.main-menu__profile ul li {
  background-color: inherit;
  position: relative;
}
.main-menu__profile ul li:hover {
  background-color: #A561B7;
  color: #fff;
}
.main-menu__profile ul li:hover svg {
  color: #fff;
}
.main-menu__profile ul li:hover a {
  background-color: #A561B7;
  color: #fff;
  font-weight: 400;
  text-decoration: none;
}
.main-menu__profile ul li ul.main-menu-submenu {
  right: 0;
  width: 100%;
}
.main-menu__profile a {
  color: #A561B7;
  padding: 1rem;
}
.main-menu__profile a.btn-message {
  position: relative;
}
.main-menu__profile a.btn-message .notification-badge {
  display: none;
  background-color: #FF0000;
  color: #fff;
  font-size: 8px;
  text-align: center;
  height: 12px;
  width: 12px;
  position: absolute;
  top: 16px;
  right: 16px;
  border-radius: 50%;
}
.main-menu__profile a.btn-message.has-message .notification-badge {
  display: block;
}
@media screen and (min-width: 992px) {
  .main-menu ul li:hover ul.main-menu-submenu {
    left: auto;
    opacity: 1;
    z-index: 10;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  .main-menu ul.main-menu-submenu {
    background-color: #A561B7;
    border-radius: 0px 0px 8px 8px;
    color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    display: block;
    opacity: 0;
    padding: 0.5rem 1.5rem;
    text-align: left;
  }
  .main-menu ul.main-menu-submenu a {
    color: #fff;
  }
  .main-menu ul.navbar-nav a {
    position: relative;
  }
  .main-menu ul.navbar-nav a::after {
    content: "";
    background-color: #A561B7;
    position: absolute;
    top: 75%;
    left: 0;
    height: 1px;
    width: 0%;
    -webkit-transition: width 0.2s ease-in-out;
    transition: width 0.2s ease-in-out;
  }
  .main-menu ul.navbar-nav a:hover::after {
    width: 100%;
  }
  .main-menu ul.navbar-nav ul li:hover ul.main-menu-submenu {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  .main-menu ul.navbar-nav ul.main-menu-submenu {
    -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
    -webkit-transition: -webkit-transform 0.2s ease-in;
    transition: -webkit-transform 0.2s ease-in;
    transition: transform 0.2s ease-in;
    transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
  }
  .main-menu a {
    padding: 1rem;
  }
  .main-menu__links {
    width: auto;
    margin-right: auto;
  }
  .main-menu__profile {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    border-left: 2px solid #A561B7;
    width: auto;
  }
  .main-menu__profile ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/*------------------------------------------------------------
# COMPONENTS
------------------------------------------------------------*/
.accordion .accordion-item {
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.4);
  border: none;
}
.accordion .accordion-item:not(:last-child) {
  margin-bottom: 2rem;
}
.accordion .accordion-button {
  background-color: #A561B7;
  border-radius: 8px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 1.25rem;
}

.btn-primary {
  --bs-btn-hover-color: #A561B7;
  --bs-btn-hover-bg: #fff;
}
.btn-secondary {
  --bs-btn-hover-color: #FFC629;
  --bs-btn-hover-bg: #fff;
}
.btn:hover svg {
  color: inherit !important;
}

.card {
  max-width: 100%;
}
.card-seats--num {
  margin: auto;
  width: 200px;
}
.card-seats--num .input-seat-num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}
.card-seats--num input {
  background-color: inherit;
  border-width: 0 0 3px 0;
  border-bottom: 3px solid #737373;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 2rem;
  text-align: center;
  width: 50px;
}
.card-seats--num input::-webkit-outer-spin-button, .card-seats--num input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.card-seats--simb {
  margin-bottom: 1rem;
}
.card-seats--simb, .card-seats--select {
  width: 360px;
}
.card-seats--simb h3, .card-seats--select h3 {
  font-size: 1.25rem;
  font-weight: 500;
}
.card-itinerary {
  background-color: #fff;
}
.card-itinerary .card-body {
  padding: 1rem 8%;
}
.card-summary {
  width: 100%;
}
.card-summary .card-body {
  padding: 3rem;
}
.card-summary h3 {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}
.card-summary h4 {
  font-size: 1rem;
  color: #A561B7;
  margin-bottom: 0.75rem;
}
.card-summary p {
  line-height: 1.2;
}

/*------------------------------------------------------------
# PAGES
------------------------------------------------------------*/
/** PASAJES - ORIGEN/DESTINO **/
.ticket-info-container {
  padding: 2rem 0;
}
.ticket-info-container .ticket-info .form-group {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.ticket-info-container .ticket-info input, .ticket-info-container .ticket-info select {
  max-width: 300px;
}
.ticket-info-container .ticket-info input::-webkit-outer-spin-button,
.ticket-info-container .ticket-info input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}
.ticket-info-container .ticket-info input[type=number] {
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: textfield;
}
.ticket-info-container .ticket-info__date .form-check input {
  margin-right: 0.5rem;
}
.ticket-info-container .ticket-info__date .form-group#formIdaVuelta {
  display: none;
}
.ticket-info-container .ticket-info__date .form-group#formIdaVuelta.is-visible {
  display: block;
}
@media screen and (min-width: 768px) {
  .ticket-info-container .ticket-info .form-group {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .ticket-info-container .ticket-info__date .form-check {
    display: inline-block;
  }
  .ticket-info-container .ticket-info__date .form-check:not(:last-child) {
    margin-right: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .ticket-info-container .ticket-info label:not(.form-check-label) {
    font-size: 1.875rem;
    line-height: 1;
  }
}

/*** PASAJES - FLUJO RUTAS Y HORARIOS ***/
.itinerary-filter {
  padding: 2rem 0;
}
.itinerary-filter input, .itinerary-filter select {
  max-width: 300px;
}
@media screen and (min-width: 992px) {
  .itinerary-filter label {
    font-size: 1.875rem;
    line-height: 1;
  }
}

.itinerary-list-orderby {
  display: block;
  margin-left: auto;
  margin-bottom: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.itinerary-list-orderby .form-select {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='%23A561B7' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/></svg>");
  color: #A561B7;
  border: 1px solid #A561B7;
  font-size: 1rem;
  line-height: 1;
}
.itinerary-list .card-itinerary {
  margin-bottom: 1rem;
}
.itinerary-list .card-itinerary:hover {
  background-color: #A561B7;
  color: #fff;
  border-color: #A561B7;
}
.itinerary-list .card-itinerary:hover span, .itinerary-list .card-itinerary:hover p, .itinerary-list .card-itinerary:hover a {
  background-color: #A561B7;
  color: #fff !important;
}
.itinerary-list .card-itinerary:hover .itinerary-route-h span {
  background-color: #fff;
}
.itinerary-list .card-itinerary:hover .bus-type-name::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='19' viewBox='0 0 24 19' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.5053 12.8721H13.5728V17.2616H12.9535C12.6093 17.2616 12.334 17.5445 12.334 17.8887C12.334 18.2328 12.6093 18.5157 12.9535 18.5157H19.1247C19.4689 18.5157 19.7442 18.2328 19.7442 17.8887C19.7442 17.5445 19.4689 17.2616 19.1247 17.2616H18.5053V12.8721Z' fill='%23FFFFFF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M22.6423 12.7344V10.9909C22.6423 10.6773 22.4664 10.3868 22.1835 10.2568L20.2717 9.35434C20.027 9.25499 19.7594 9.20146 19.4917 9.20146H12.8004C12.3644 9.20146 11.9362 9.04086 11.6074 8.75024L3.05776 1.34006C2.7901 1.11064 2.39245 1.14888 2.17832 1.42418L1.37537 2.65539C1.16888 2.91539 1.19948 3.29776 1.44419 3.51953L10.7968 12.0538C10.9114 12.1533 11.0567 12.2144 11.2097 12.2144H19.6141C19.8053 12.2144 20.004 12.2527 20.1799 12.3215L21.9541 13.178C22.2829 13.3386 22.6576 13.0939 22.6576 12.7191L22.6423 12.7344ZM20.287 13.6522C20.027 13.5451 19.7517 13.4915 19.4688 13.4915H11.2021C10.7433 13.4915 10.3073 13.3233 9.97084 13.0097L0.618286 4.4678C-0.11585 3.79483 -0.207617 2.65539 0.404163 1.86772L1.20712 0.842987C1.85714 0.00944216 3.05011 -0.311741 3.84543 0.368864L12.395 7.7714C12.5021 7.86318 12.6474 7.91671 12.7927 7.91671H19.3387C19.7058 7.91671 20.0652 7.99319 20.3941 8.15379L23.1471 9.58377C23.4529 9.74437 23.6441 10.0579 23.6441 10.4097V13.1321C23.6441 14.0192 22.7647 14.631 21.9618 14.3098L20.287 13.6369V13.6522Z' fill='%23FFFFFF'/%3E%3C/svg%3E");
}
.itinerary-list .card-itinerary__route {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}
.itinerary-list .card-itinerary__route .itinerary-from span,
.itinerary-list .card-itinerary__route .itinerary-to span {
  display: block;
  line-height: normal;
}
.itinerary-list .card-itinerary__route .itinerary-from .time strong,
.itinerary-list .card-itinerary__route .itinerary-to .time strong {
  font-size: 1.5rem;
}
.itinerary-list .card-itinerary__route .itinerary-from .from, .itinerary-list .card-itinerary__route .itinerary-from .to,
.itinerary-list .card-itinerary__route .itinerary-to .from,
.itinerary-list .card-itinerary__route .itinerary-to .to {
  font-size: 1.25rem;
}
.itinerary-list .card-itinerary__route .itinerary-from .station,
.itinerary-list .card-itinerary__route .itinerary-to .station {
  font-weight: 300;
}
.itinerary-list .card-itinerary__route .itinerary-time {
  font-size: 0.875rem;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .itinerary-list .card-itinerary__route {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .itinerary-list .card-itinerary__route .itinerary-from .time strong,
  .itinerary-list .card-itinerary__route .itinerary-to .time strong {
    font-size: 1.875rem;
  }
}
.itinerary-list .card-itinerary__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.itinerary-list .card-itinerary__info .itinerary-price span {
  color: #A561B7;
  font-size: 1.25rem;
  font-weight: 700;
}
.itinerary-list .card-itinerary__info .itinerary-date span {
  color: inherit;
  font-size: 1.25rem;
  font-weight: 400;
}
@media screen and (min-width: 992px) {
  .itinerary-list .card-itinerary__info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.itinerary-list .card-itinerary__details {
  position: relative;
  text-align: center;
}
.itinerary-list .card-itinerary__details a {
  text-decoration: underline;
  cursor: pointer;
}
.itinerary-list .card-itinerary__details .bus-logo {
  position: absolute;
  width: 85px;
  height: auto;
  left: 0;
  bottom: 4px;
}

.itinerary-route-h {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.itinerary-route-h .sp {
  background-color: #A561B7;
  height: 2px;
  width: 24px;
  display: inherit;
}
.itinerary-route-v {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}
.itinerary-route-v span {
  display: block;
  line-height: 1;
  margin: 0 auto;
  white-space: nowrap;
}
.itinerary-route-v .sp {
  background-color: #A561B7;
  height: 80px;
  width: 2px;
  display: inherit;
}
.itinerary-route-v .route-time {
  font-size: 1.25rem;
  padding-left: 0.5rem;
}
.itinerary-route-v .route-time span:first-child,
.itinerary-route-v .route-time span:last-child {
  font-weight: 700;
}
.itinerary-route-v .route-fromto {
  padding-left: 2rem;
}
.itinerary-route-v .route-fromto .from, .itinerary-route-v .route-fromto .st, .itinerary-route-v .route-fromto .to {
  font-size: 1.25rem;
}
.itinerary-route-v .route-time,
.itinerary-route-v .route-fromto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.itinerary-route-h .start, .itinerary-route-v .start {
  background-color: #A561B7;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
}
.itinerary-route-h .stop, .itinerary-route-v .stop {
  background-color: #A561B7;
  border-radius: 50%;
  height: 0.5rem;
  width: 0.5rem;
}
.itinerary-route-h .end, .itinerary-route-v .end {
  background-color: #A561B7;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
}

.itinerary-detail {
  margin: auto;
  width: 60%;
}
.itinerary-detail .itinerary-seats {
  font-size: 1.25rem;
}
.itinerary-detail .itinerary-date {
  font-size: 1rem;
}
.itinerary-detail .itinerary-bus-type {
  font-size: 1.25rem;
}
.itinerary-detail .itinerary-service {
  font-size: 1.25rem;
}
.itinerary-detail .bus-logo {
  display: inline-block;
  vertical-align: inherit;
  height: auto;
  width: 100px;
}

/*** PASAJES - FLUJO SELECCIÓN ASIENTOS ***/
.bus-steering-wheel {
  display: inline-block;
  height: 40px;
  width: 40%;
  text-align: center;
}

.bus-type-name {
  display: inline-block;
  color: #A561B7;
  white-space: nowrap;
}
.bus-type-name::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='19' viewBox='0 0 24 19' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.5053 12.8721H13.5728V17.2616H12.9535C12.6093 17.2616 12.334 17.5445 12.334 17.8887C12.334 18.2328 12.6093 18.5157 12.9535 18.5157H19.1247C19.4689 18.5157 19.7442 18.2328 19.7442 17.8887C19.7442 17.5445 19.4689 17.2616 19.1247 17.2616H18.5053V12.8721Z' fill='%23A561B7'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M22.6423 12.7344V10.9909C22.6423 10.6773 22.4664 10.3868 22.1835 10.2568L20.2717 9.35434C20.027 9.25499 19.7594 9.20146 19.4917 9.20146H12.8004C12.3644 9.20146 11.9362 9.04086 11.6074 8.75024L3.05776 1.34006C2.7901 1.11064 2.39245 1.14888 2.17832 1.42418L1.37537 2.65539C1.16888 2.91539 1.19948 3.29776 1.44419 3.51953L10.7968 12.0538C10.9114 12.1533 11.0567 12.2144 11.2097 12.2144H19.6141C19.8053 12.2144 20.004 12.2527 20.1799 12.3215L21.9541 13.178C22.2829 13.3386 22.6576 13.0939 22.6576 12.7191L22.6423 12.7344ZM20.287 13.6522C20.027 13.5451 19.7517 13.4915 19.4688 13.4915H11.2021C10.7433 13.4915 10.3073 13.3233 9.97084 13.0097L0.618286 4.4678C-0.11585 3.79483 -0.207617 2.65539 0.404163 1.86772L1.20712 0.842987C1.85714 0.00944216 3.05011 -0.311741 3.84543 0.368864L12.395 7.7714C12.5021 7.86318 12.6474 7.91671 12.7927 7.91671H19.3387C19.7058 7.91671 20.0652 7.99319 20.3941 8.15379L23.1471 9.58377C23.4529 9.74437 23.6441 10.0579 23.6441 10.4097V13.1321C23.6441 14.0192 22.7647 14.631 21.9618 14.3098L20.287 13.6369V13.6522Z' fill='%23A561B7'/%3E%3C/svg%3E");
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5rem;
}

.seats-cards-container {
  padding: 2rem 0;
}

.seats-container {
  background-color: #fff;
  -webkit-box-shadow: inset 0px -2px 0px 2px #A561B7;
          box-shadow: inset 0px -2px 0px 2px #A561B7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5rem 1.5rem;
  margin: auto;
  min-height: 800px;
  position: relative;
  width: 320px;
}
.seats-container::after {
  content: "";
  position: absolute;
  bottom: calc(100% - 2px);
  left: 0;
  background: url("data:image/svg+xml,%3Csvg width='320' height='25' xmlns='http://www.w3.org/2000/svg' fill='none'%3E%3Cg%3E%3Cpath id='svg_1' stroke-linejoin='round' stroke-width='2' stroke='%23A561B7' fill='white' d='m319,23.8455l0,798.1545l-318,0l0,-798.1545c0.09948,-0.0233 0.20839,-0.0489 0.32659,-0.0765c0.7204,-0.1685 1.78596,-0.4157 3.16507,-0.7305c2.75826,-0.6296 6.77064,-1.5292 11.78444,-2.609c10.0281,-2.1595 24.0603,-5.0389 40.0758,-7.9182c32.0474,-5.76156 71.9751,-11.5113 103.6481,-11.5113c31.673,0 71.601,5.74974 103.648,11.5113c16.016,2.8793 30.048,5.7587 40.076,7.9182c5.014,1.0798 9.026,1.9794 11.784,2.609c1.379,0.3148 2.445,0.562 3.165,0.7305c0.119,0.0276 0.228,0.0532 0.327,0.0765z'/%3E%3C/g%3E%3C/svg%3E") center/contain no-repeat;
  width: 100%;
  height: 28px;
}
.seats-container .bus-front {
  white-space: nowrap;
}
.seats-container .bus-steering-wheel {
  text-align: center;
}
.seats-container .bus-type-name {
  text-align: end;
  width: 60%;
}
.seats-container .bus-seats-lines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  padding: 1rem;
}
.seats-container .bus-seats-lines .seats-left {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.seats-container .bus-seats-lines .seats-right {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.seats-container .bus-seats-lines .seats-right span.bus-stairs {
  grid-column: 1/3;
  grid-row: 4/6;
  height: 96px;
}
.seats-container .bus-seats-lines .seats-right span.bus-stairs img {
  margin: 1rem auto;
  display: block;
}
.seats-container .bus-seats-lines .seats-left,
.seats-container .bus-seats-lines .seats-right {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-auto-rows: auto;
  place-content: start;
  gap: 1rem;
}
.seats-container .bus-seats-lines .seats-center span {
  display: block;
  height: 100%;
  width: 40px;
  background-color: rgba(165, 97, 183, 0.5);
  background-image: url(./../img/bg-dots.png);
}
.seats-container .bus-seats-lines .seat {
  cursor: pointer;
}
.seats-container .bus-floors-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  list-style: none;
  margin-top: auto;
  margin-bottom: 0;
  padding: 0;
}
.seats-container .bus-floors-select li {
  text-align: center;
  width: 50%;
}
.seats-container .bus-floors-select .floor {
  position: relative;
  font-weight: 700;
  text-decoration: none;
}
.seats-container .bus-floors-select .floor::after {
  content: "";
  background-color: #d9d9d9;
  display: block;
  height: 8px;
  width: 100%;
}
.seats-container .bus-floors-select .floor.active::after {
  background-color: #A561B7;
}

.seats-simb-container > * {
  width: 50%;
}
.seats-simb-container ul.seats-simb-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.seats-simb-container ul.seats-simb-list li {
  margin-bottom: 0.5rem;
  white-space: nowrap;
}
.seats-simb-container ul.seats-simb-list .seat {
  margin-right: 0.5rem;
}
@media screen and (min-width: 400px) {
  .seats-simb-container ul.seats-simb-list {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
  }
}

.seats-summary .bus-type-name {
  font-size: initial;
}
.seats-summary table td {
  border-bottom-width: 0;
}
.seats-summary table tbody td {
  vertical-align: middle;
  line-height: 1;
}
.seats-summary table tfoot {
  border-top-color: #A561B7;
  border-top-width: 2px;
}
.seats-summary table tfoot td {
  font-size: 1.125rem;
  vertical-align: baseline;
}
.seats-summary .passenger-num {
  color: #A561B7;
  font-size: 0.75rem;
  width: 25%;
}
.seats-summary .total-num {
  font-weight: 700;
  font-size: 1.75rem;
}

.seat {
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: #A561B7;
  display: inline-block;
  font-size: 0.75rem;
  font-weight: 400;
  height: 40px;
  width: 40px;
  line-height: 40px;
  position: relative;
  text-align: center;
  vertical-align: middle;
}
.seat--blue {
  border-color: #5599FF;
}
.seat--blue.selected {
  background-color: #5599FF;
  color: #fff;
}
.seat--purple {
  border-color: #A561B7;
}
.seat--purple.selected {
  background-color: #A561B7;
  color: #fff;
}
.seat--green {
  border-color: #35CD00;
}
.seat--green.selected {
  background-color: #35CD00;
  color: #fff;
}
.seat--na {
  border-color: #d9d9d9;
  background-color: #d9d9d9;
}
.seat--na:after {
  content: "";
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.25143 0.484303C1.83714 0.070011 1.16544 0.070011 0.751149 0.484303C0.336857 0.898595 0.336857 1.57029 0.751149 1.98459L11.0004 12.2339L0.751149 22.4832C0.336857 22.8975 0.336857 23.5692 0.751149 23.9835C1.16544 24.3978 1.83714 24.3978 2.25143 23.9835L12.5007 13.7342L22.7499 23.9833C23.1642 24.3976 23.8359 24.3976 24.2501 23.9833C24.6644 23.569 24.6644 22.8973 24.2501 22.483L14.001 12.2339L24.2501 1.98474C24.6644 1.57045 24.6644 0.898754 24.2501 0.484462C23.8359 0.0701692 23.1642 0.0701692 22.7499 0.484462L12.5007 10.7336L2.25143 0.484303Z' fill='white'/%3E%3C/svg%3E");
  position: absolute;
  display: block;
  height: 25px;
  width: 25px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.seat--locked:after {
  content: "";
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='16' viewBox='0 0 14 16' fill='none'%3E%3Cpath d='M12.3562 6.89581H11.6198V4.68636C11.6198 2.11481 9.52693 0.0219727 6.95538 0.0219727C4.38383 0.0219727 2.29099 2.11481 2.29099 4.68636V6.89581H1.55451C0.741308 6.89581 0.081543 7.55557 0.081543 8.36877V14.2606C0.081543 15.0738 0.741308 15.7336 1.55451 15.7336H12.3562C13.1694 15.7336 13.8292 15.0738 13.8292 14.2606V8.36877C13.8292 7.55557 13.1694 6.89581 12.3562 6.89581ZM9.16483 6.89581H4.74593V4.68636C4.74593 3.4681 5.73711 2.47691 6.95538 2.47691C8.17364 2.47691 9.16483 3.4681 9.16483 4.68636V6.89581Z' fill='%23303030'/%3E%3C/svg%3E");
  position: absolute;
  display: block;
  height: 16px;
  width: 14px;
  top: -5px;
  right: -6px;
}
.seat--cashier {
  border-color: #A561B7;
}
.seat--cashier:after {
  content: "";
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='22' viewBox='0 0 20 22' fill='none'%3E%3Cpath d='M13.3217 2.42396C12.4286 1.45971 11.1812 0.928711 9.80433 0.928711C8.42015 0.928711 7.16861 1.4565 6.27963 2.41478C5.38101 3.38361 4.94318 4.70033 5.04598 6.12214C5.24975 8.92722 7.38431 11.2091 9.80433 11.2091C12.2244 11.2091 14.3552 8.92768 14.5622 6.12306C14.6664 4.7141 14.2258 3.40014 13.3217 2.42396Z' fill='%23A561B7'/%3E%3Cpath d='M17.8822 21.4903H1.72675C1.51529 21.493 1.30588 21.4486 1.11375 21.3603C0.921615 21.2719 0.751598 21.1418 0.616065 20.9795C0.31774 20.6229 0.197492 20.1359 0.286531 19.6434C0.673894 17.4946 1.8828 15.6895 3.7829 14.4223C5.47096 13.2974 7.60927 12.6782 9.80448 12.6782C11.9997 12.6782 14.138 13.2978 15.8261 14.4223C17.7262 15.689 18.9351 17.4941 19.3224 19.643C19.4115 20.1354 19.2912 20.6224 18.9929 20.979C18.8574 21.1414 18.6874 21.2716 18.4953 21.36C18.3031 21.4485 18.0937 21.493 17.8822 21.4903Z' fill='%23A561B7'/%3E%3C/svg%3E");
  position: absolute;
  display: block;
  height: 22px;
  width: 20px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal .seat-rut {
  margin: 1rem auto;
  max-width: 400px;
}

.select-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 2rem 0;
}

/*** PASAJES - FLUJO LISTA PASAJEROS ***/
.passengers-list-container {
  padding: 2rem 0;
}
.passengers-list-container .accordion {
  height: 680px;
  overflow: auto;
  padding-right: 0.5rem;
}

.passenger-data label {
  width: 100%;
}
.passenger-data label select {
  border: 0;
  color: inherit;
  margin: 0;
  width: inherit;
}
.passenger-data label select:focus {
  border: none;
}

/*** PASAJES - FLUJO PAGO ***/
.ticket-summary-container .ticket-summary__desc:not(:last-child) {
  margin-bottom: 2rem;
}
.ticket-summary-container .ticket-summary__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #A561B7;
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 3rem;
}

.payment-method-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 3rem;
  height: 100%;
}
@media screen and (min-width: 992px) {
  .payment-method-container {
    padding: 2.5rem 5rem;
  }
}

/*** PASAJES - CONTROLES NAVEGACIÓN ***/
.main-controls {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.main-controls--buttons, .main-controls--commands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
}
.main-controls--commands {
  color: #A561B7;
  font-size: 1.25rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .main-controls--buttons, .main-controls--commands {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=main.css.map */
