@use "../utils/variables";

.btn {
   &-primary {
      --bs-btn-hover-color: #A561B7;
      --bs-btn-hover-bg: #fff;
   }

   &-secondary {
      --bs-btn-hover-color: #FFC629;
      --bs-btn-hover-bg: #fff;
   }

   &:hover {
      svg {
         color: inherit!important;
      }
   }
}